
#dokan-seller-listing-wrap ul.dokan-seller-wrap li{
	float:left;
}
.dokan-pagination-container .dokan-pagination li{
	margin:0px;
}
.dokan-pagination-container .dokan-pagination{
	margin:0px 0 0 !important;
}
.paging-navigation .pager{
	margin:0px !important;
}
.dokan-single-store .profile-frame .profile-info-box .profile-info-img {
	width: 100%;
	height: auto;
	vertical-align: top;
}
.dokan-pagination-container .dokan-pagination li.active a,.dokan-pagination-container .dokan-pagination li a:hover {
	border-color: transparent !important;
	background: var(--hw-primary-bg)!important;
	color: var(--hw-primary-txt) !important;
}
.paging-navigation{
	float: left;
	margin: calc(var(--hw-gp,0px) / 2) 0px;
	width: calc(100% - var(--hw-gp));
	text-align:center;
}
.dokan-pagination-container .dokan-pagination li.disabled{
	opacity:.5;
}
.dokan-pagination-container .dokan-pagination li a {
	border-radius: 0px;
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	background: var(--hw-post-bg,transparent);
	padding: 5px 10px!important;
	float: none;
	margin: 2px!important;
	font-size: 12px;
	color:var(--hw-post-tl-lk)!important;
	border-color: var(--hw-main-br-cr)!important;
	border-radius: var(--hw-btn-rd,0px);
	color: inherit;
	font-weight:var(--hw-more-fn-wt,500);
	text-transform:var(--hw-more-fn-tr,none);
	line-height: 18px;
	width: auto!important;
	cursor: pointer;
	vertical-align: top;
}
.dokan-pagination-container .dokan-pagination li:first-child a,.dokan-pagination-container .dokan-pagination li:last-child a{
	font-size:0px;
	vertical-align: top;
}
.dokan-pagination-container .dokan-pagination li:last-child a::before {
	content:">";
	vertical-align: top;
	font-size:12px;
}
.dokan-pagination-container .dokan-pagination li:first-child a::before{
	content:"<";
	vertical-align: top;
	font-size:12px;
}
