:root{
	--hw-col:100%;
	--hw-tab:100%;
	--hw-mob:100%;
	--hw-flx:1;
	--hw-flx-tab:1;
	--hw-flx-mob:1
}
.hw-list-warp{
	width:100%;
	float:left
}
.hw-item-list{
	float:left;
	width:100%;
	position:relative
}
.hw-flex{
	display:grid;
	width:100%;
	grid-template-columns:repeat(var(--hw-flx,1),1fr);
	position:relative
}
.hw-flex > .hw-column{
	width:100%!important
}
.hw-group > .hw-item,.hw-column,.hw-masonry > .hw-item{
	width:var(--hw-col,100%);
	float:left
}

.hw_row_2 .hw-item-list > .hw-item,
.hw_row_3 .hw-item-list > .hw-item{
	padding:0px !important;
	display:grid !important;
	
}
.hw-gap-content,
.hw-gap-slider{
	width:100%;
	float:left;
	position:relative;
}
.hw-item{
	padding:calc(var(--hw-gp,0px) / 2);
	--hw-it-col:1;
	width:100%;
	display:flex
}
.hw_col_1_1{
	--hw-col:100%;
	--hw-flx:1;
	--hw-flx-col:100%
}
.hw_col_1_2{
	--hw-col:50%;
	--hw-flx:2;
	--hw-flx-col:50% 50%
}
.hw_col_1_3{
	--hw-col:33.331%;
	--hw-flx:3;
	--hw-flx-col:33.331% 33.331% 33.331%
}
.hw_col_1_3_2_3{
	--hw-flx-col:33.331% 66.661%
}
.hw_col_2_3{
	--hw-flx:1.5;
	--hw-flx-col:66.661% 33.331%
}
.hw_col_1_4{
	--hw-col:25%;
	--hw-flx:4;
	--hw-flx-col:25% 25% 25% 25%
}
.hw_col_3_4{
	--hw-flx:1.331;
	--hw-flx-col:75% 25%
}
.hw_col_1_4_3_4{
	--hw-flx-col:25% 75%
}
.hw_col_1_5{
	--hw-it-col:.2;
	--hw-col:20%;
	--hw-flx:5;
	--hw-flx-col:20% 20% 20% 20% 20%
}
.hw_col_1_5_4_5{
	--hw-flx-col:20% 80%
}
.hw_col_4_5{
	--hw-flx-col:80% 20%
}
.hw_col_2_5{
	--hw-it-col:.4;
		--hw-flx:2.5;
	
		--hw-col:40%;
 }.hw_col_3_5{
	--hw-it-col:.6;
		--hw-col:60%;
		--hw-flx:1.66;
	
	--hw-flx-col:60% 40%
}
.hw_col_2_5_3_5{
	--hw-flx-col:40% 60%
}
.hw_col_1_6{
	--hw-col:16.661%;
	--hw-flx:6;
	--hw-flx-col:16.661% 16.661% 16.661% 16.661% 16.661% 16.661%
}
.hw_col_1_6_5_6{
	--hw-flx-col:16.661% 83.339%
}
.hw_col_5_6{
	--hw-flx-col:83.331% 16.661%
}
.hw_col_1_7{
	--hw-col:14.281%;
	--hw-flx:7
}
.hw_col_1_8{
	--hw-col:12.5%;
	--hw-flx:8
}
.hw_col_1_9{
	--hw-col:11.11%;
	--hw-flx:9
}
.hw_col_1_10{
	--hw-col:10%;
	--hw-flx:10
}
.hw_col_1_11{
	--hw-col:9.09%;
	--hw-flx:9
}
.hw_col_1_12{
	--hw-col:8.33%;
	--hw-flx:12
}
.hw_col_400{
	--hw-drg-col:400px
}
.hw_col_350{
	--hw-drg-col:350px
}
.hw_col_300{
	--hw-drg-col:300px
}
.hw_col_250{
	--hw-drg-col:250px
}
.hw_col_200{
	--hw-drg-col:175px
}
.hw_col_150{
	--hw-drg-col:150px
}
@media (min-width: 1024px) {
	.hw_col_hide{
		display:none!important
}
}
/******************************************************************************************************************************************************
******************************************************************************************************************************************************

																	 	Tablet
																		
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 1024px) and (min-width: 768px) {
	.hw-flex,.hw-pricetable .hw-flex.hw-item-list 
	{
		display:grid!important;
		grid-template-columns:repeat(var(--hw-flx-tab,1),1fr)!important
}
	.hw-flex > .hw-column{
		width:100%!important
}
	.hw-group > .hw-item,.hw-column,.hw-flex.hw-item-list > .hw-item,.hw-masonry > .hw-item{
		width:var(--hw-tab,100%)!important
}
	.hw-flex.hw-item-list{
		display:flex!important;
		justify-content:center!important;
		flex-flow:wrap!important
}
	.hw_tab_1_1{
		--hw-tab:100%;
		--hw-flx-tab:1
}
	.hw_tab_1_2{
		--hw-tab:50%;
		--hw-flx-tab:2
}
	.hw_tab_1_3{
		--hw-tab:33.331%;
		--hw-flx-tab:3
}
	.hw_tab_1_4{
		--hw-tab:25%;
		--hw-flx-tab:4
}
	.hw_tab_hide{
		display:none!important
}
}
/******************************************************************************************************************************************************
******************************************************************************************************************************************************

																	 	Tablet
																		
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 767px) {
	.hw-flex,.hw-pricetable .hw-flex.hw-item-list {
		display:grid!important;
		grid-template-columns:repeat(var(--hw-flx-mob,1),1fr)!important
}
  

	.hw-flex > .hw-column{
		width:100%!important
}
	.hw-group > .hw-item,.hw-column,.hw-flex.hw-item-list > .hw-item,.hw-masonry > .hw-item{
		width:var(--hw-mob,100%)!important
}
	.hw-flex.hw-item-list{
		display:flex!important;
		justify-content:center!important;
		flex-flow:wrap!important
}
	.hw_mob_1_1{
		--hw-mob:100%;
		--hw-flx-mob:1
}
	.hw_mob_1_2{
		--hw-mob:50%;
		--hw-flx-mob:2
}
	.hw_mob_1_3{
		--hw-mob:33.331%;
		--hw-flx-mob:3
}
	.hw_mob_1_4{
		--hw-mob:25%;
		--hw-flx-mob:4
}
	.hw_mob_hide{
		display:none!important
}
}
@media (max-width: 359px) {
	.hw-flex,.hw-pricetable .hw-flex.hw-item-list{
		display:grid!important;
		grid-template-columns:repeat(1,1fr)!important
}
	.hw-group > .hw-item,.hw-column,.hw-flex.hw-item-list > .hw-item,.hw-masonry > .hw-item{
		width:100%!important
}
}

/******************************************************************************************************************************************************
******************************************************************************************************************************************************

																	 	Gap Warp
																		
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
[class*="hw-el"]{
 	--hw-gp:var(--hw-between-gap,40px);
}

[class*="hw-bw-border"]{
 	--hw-gp:calc(var(--hw-between-gap,40px) * 2);
}
.hw-gap-warp{
	width:calc(100% + var(--hw-gp,0px))!important;
	margin:calc(var(--hw-gp,0px) / -2);
	float:right;
 	position:relative
}
.hw-gap-0px{
	--hw-between-gap:0px !important;
	
 
}
.hw-gap-2px{
	--hw-between-gap:2px!important;
 
}
.hw-gap-5px{
	--hw-between-gap:5px!important;
 
}
.hw-gap-10px{
	--hw-between-gap:10px!important;
 
}
.hw-gap-15px{
	--hw-between-gap:15px!important;
 
}
.hw-gap-20px{
	--hw-between-gap:20px!important;

}
.hw-gap-30px{
	--hw-between-gap:30px!important;
	--hw-gp-sp:0
}
.hw-gap-40px{
	--hw-between-gap:40px!important;
 
}
.hw-gap-60px{
	hw-between-gap:60px!important;
 
}
@media (max-width: 1024px) {
	.hw-gap-20px,.hw-gap-30px{
		--hw-between-gap:10px!important;

}
	.hw-gap-40px,.hw-gap-60px{
		hw-between-gap:20px!important;

}
}
